div{
    width:300px;
    background-color:rgb(255, 227, 232);
    padding:15px;
    margin:20px auto;
    border: 3px red;
}
div h2{
    text-align: center;
    color: green;
}
.red{
    color:red;
    font-size: 40px;
}